.modalWrapperModern {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  overflow: auto;
}

.modalShader {
  background-color: rgba(#000000, 0.25);
}

.modalContentModern {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .modalCloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
